@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1 style="color:white">Obrigado por confirmares o email</h1>
<h2 style="color:white">Por favor <a asp-page="./Login">clica aqui para fazer log in</a></h2>
