@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<style>
    .div1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button {
        margin: auto;
        display: block;
        height: 50px;
        width: 130px;
        color: white;
        background-color: grey;
        border: 2px solid grey;
        border-radius: 35px;
        font-size: 20px
    }
</style>

<br />
<br />
<h2 style="color:white; text-align:center; font-size:50px">Encontrar a tua Conta</h2>
<br />
<h3 style="color:white; text-align:center; font-size:27px">Insere o teu e-mail para receberes um link para repor a tua palavra-passe.</h3>
<hr />
<br />
<div class="div1">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Enviar email</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
