@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<style>
    body{
        color:white;
    }
</style>

<body>
	<h1>Email de confirmação enviado</h1>
		<p>
			Por favor verifica o e-mail para alterares a tua palavra-passe.
		</p>
</body>
	
