@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<style>
    body{
        color:white;
    }
</style>

<body>
    <h1>Alteração bem sucedida</h1>
    <p>
        A tua password foi alterada com sucesso! Por favor <a asp-page="./Login">clica aqui para fazer log in</a>.
    </p>
</body>
